html {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: #dddbdb;
    font-size: 14px;
    text-align: left;
}


/* fade-transform */

.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.2s;
}

.fade-transform-enter-from {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.2s;
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.2s;
}